version: '3.8'

services:
  backend:
    container_name: chatapp_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env

    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:3000/health',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: always
    command: sh -c "sleep 5 && npm run start:dev" # Add startup delay

